@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
.navbar {
    color: aliceblue;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    /*fara a barra ficar a cima*/
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(7px);
}

.navbar-logo img {
    width: 100px;


}

.navbar-links {
    display: flex;
    justify-content: space-between;

}

.navbar-links,
a {

    color: rgb(212, 0, 255);
    font-family: 'Oswald',
        sans-serif;
    font-size: large;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #03e9f4;

}

ol,
ul {
    list-style: none;
}

.header-section {
    /*pegar toda a tela*/
    width: 100%;
    height: 100vh;
    /*deixar a imagem aqui*/
    background: url(../img/sk-2.png) no-repeat center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.header-texto {
    margin-top: 40px;    
    display: flex;
    padding: 1px;
    color: #fff;
    font-size: 70px;
    text-align: left;
    font-family: 'Oswald',
        sans-serif;
    text-transform: uppercase;
    animation: neon 5s infinite;

}

@keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100% {
       text-shadow: 
       white 0 0 12px,
       rgb(155, 0, 194) 0 0 24px,
       rgb(187, 6, 233) 0 0 36px;
    }
    
    40%, 60% {
        text-shadow: none;
    }
}

/***/


.header-formulario {
    display: flex;
    padding: 10px;

    display: flex;
    width: 300px;


}



/* form {
    display: flex;
    padding: 20px;
    display: flex;
    width: 330px;
    padding: 10px;
    background-color: rgba(87, 0, 88, 0.829);
    border-radius: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Arial,
        Helvetica,
        sans-serif;
    color: #fff;

} */


/* label {

    display: inline-block;
    text-align: right;
} */

/* form div+div {
    margin-top: 1em;
} */




/**/

.conteudo-principal {
    background: url(../img/banner-esports.png) no-repeat center;
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.conteudo-principal-chamada {
    font-family: 'Oswald',
        sans-serif;
    font-size: 50px;
    color: #fff;
    padding: 15px;
    text-shadow: 4px 4px black;

}
/***/

/**conteudo informativo*/
.conteudo-informativo {
    background: url(../img/sk-3.jpg) no-repeat center;
    background-color: rgba(0, 0, 0, 0.993);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 22px;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%   
    
}
.conteudo-informativo-esports{   
  
    display: flex;
    flex-wrap: nowrap;        
    color: rgb(255, 255, 255);   
    align-items: center;
    padding: 10px;    
   background-color: rgba(153, 0, 255, 0.753);
   
}

.conteudo-informativo-esports img{
    width: 50%;
    align-items: top;
   
}

.conteudo-informativo-chamada{    
    color: #fff;
    padding: 15px;   
    background-color: #000;
    width: 700px;
   
    
}
.conteudo-informativo-membros{ 
    display: flex; 
    flex-wrap: wrap;
    gap: 2px;
    font-size: 30px;
    color: #fff;
    padding: 15px;
    width: 400px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.993);    
}
.conteudo-informativo-membros img{
    width: 40%;
    align-items: top;   
}
.card-membros{
    font-size: medium;
    width: 45%;
    margin: 5px;
    background-color: #250030;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    padding: 10px;   
    font-family: Arial, Helvetica, sans-serif;
}
.card-membros span{
    color: #03e9f4;
}
.conteudo-informativo-conquistas{    
    font-size: 30px;
    color: #fff;
    padding: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.993);
    
    
}
.conteudo-informativo-conquistas img{
    width: 100%;
    align-items: top;
}
.conteudo-informativo-fotos{ 
    display: flex;
    
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 30px;
    color: #fff;
    padding: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.993);
    
    
}
.conteudo-informativo-fotos img{
    width: 100%;
    align-items: top;
}

/**conteudo informativo*/

/**footer*/

.footer-section{
    
    width: 100%;
    height: 100px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald',
        sans-serif;
    font-size: 30px;    
    
    
    
}

.footer-texto{
    text-align: center;
    padding: 10px;
    color: rgb(162, 0, 255);
    
}

/**footer*/
#particles-js{
    width: 100%;
    height: 100vh;  
  
  }

/** animaçoes*/

/**inserido na logo da nav*/

.blink-1:hover {
    -webkit-animation: blink-1 0.6s both;
    animation: blink-1 1s both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


/**faz a imagem da zoom = desativado*/
.kenburns-top:hover img{
    -webkit-animation: kenburns-top 5s ease-out both;
    animation: kenburns-top 5s ease-out both;
}

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
/** animaçoes*/